.header {
    display: flex;
    align-items: center;    
}

.header {
    top: 0;
    position: fixed;
    z-index: 1000;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    height: 32px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group {
    padding-right: 5px;
}
